@import url(raizes.css);

html {
    min-width: max-content;
}

body {
    background-color: var(--bg-base);
    color:white;
    font-family: system-ui;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    cursor: default;
}

header {
    color: white;
    background-color: var(--h-f-base);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: var(--h-f-base);
    display: flex;
    align-items: center;
    align-self: center;
    height: 100px;
    position: absolute;
    bottom: 0;
    min-width: 389.74px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    margin-bottom: 28.5px;
}

#header-nav {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 30px;
}

#incognita {
    display: flex;
    transition: transform 1.2s ease, color 0.2s, scale 0.2s;
}

#incognita:hover {
    transform: rotate(360deg);
    color: var(--cor-primaria);
    scale: 1.2;
}

#conhecimentos {
    display: inline-block;
    transition: 0.2s;
    padding-bottom: 4px;
}

#conhecimentos:hover {
    color: var(--cor-primaria);
    transform: scale(1.2);
}

#sobre {
    border-bottom: 2px solid var(--cor-primaria);
    padding-bottom: 4px;
}